body {

    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    line-height: 0.5;
}

h2 {
    font-size: 30px;
    color: grey;
}

h3 {
    font-size: 20px;
}

#top-header {
    margin-top: 200px;

}

.orange-color {
    color: orange;
}


.flexible-container {
    display: flex;
    margin-bottom: 100px;


}

.half-width {
    width: 50%;

}

.header {
    padding-left: 10%;
}

.half-width img {
    width: 100%;
    margin-top: 50px;
       
}
.picture{
   
   padding-right: 5%;
  }
  
.image {
    padding-left: 20%;
    width: 550px;
    height: 515px;
}
.p {
    padding-bottom: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    padding: 20px 50px;
    border-radius: 50px;
    box-shadow:  5px -5px 10px 5px rgba(250, 182, 182, 0.5) , 5px 5px 10px 5px rgba(250, 182, 182, 0.5);
    font-weight: 700;
    color: white;

}

.about {
    margin-top: 100px;
    padding-left: 10%;
}

.second {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.recipies {
    text-align: center;
    line-height: 0.5;
}

.recipie-item {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px gainsboro
}

.box-one {
    margin-left: 5%;
    margin-right: 10px;
}

.box-two {
    margin-left: 10px;
    margin-right: 5%;
}

.social-site {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    line-height: 0.5;

}
left {
    float: left;
}
.right {
    float: right;
}
.social {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
    box-shadow: 10px 10px 40px gainsboro;
}
.finishing{
    text-align: center;
    color: white;
    background-color: rgb(14, 14, 26);
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 7%;
}
.eat-color{
    color: rgb(245, 131, 38);
}